body{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 900px;
    background-color: rgb(224, 222, 222);
}
/*head bar*/
.head{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
}
.typo7{
    margin-left: 1%;
    width: 250%;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    margin-left: 0%;
    width: 5%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*card*/
.card{
    width: 100%;
    height: 800px;
}
.card1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card01{
    margin-left: 1%;
    margin-top: 2%;
    width: 24%;
    height: 367px;
    display: flex;
    flex-direction: column;
}
.price{
    margin-top: 5%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.imag{
    width: 100%;
    height: 300px;
    background-color: turquoise;
}
.ima{
    width: 100%;
    height: 300px;
}
.nini{
    width: 20px;
    height: 20px;
}
.close{
    margin-left: 5%;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
}
.add{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.lapi{
    margin-top: 5%;
    width: 280px;
    height: 220px;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ui{
    margin-top: 3.4%;
    font-size: 19px;
}
.lib{
    margin-top: -4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
} 